package data

import "database/sql"

func InitDB(db *sql.DB) error {
    {{ range $pos, $statment := . }}
        _, err {{  if eq $pos 0 }} := {{ else }} = {{ end }}db.Query("{{ $statment }}")
        if err != nil {
            return err
        }
    {{- end }}

    return nil
}