package models

{{ if .HasTimeField -}}
import "time"
{{ end }}
{{- range .Tables }}
type {{ title .Name }} struct {
    {{ range .Fields }}
    {{- normalize .Name }} {{ .Type }} `json:"{{ lower .Name }}"`
    {{ end }}
}
{{ end }}